body {
    background-color:aquamarine
}

body {
           font-family: 'Arial';
           transition: 0.4s;
           transition-timing-function: ease-in-out;
           font-size: 35px;
}